.Alert {
    position: fixed;
    z-index: 500;
    width: 30%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 16px;
    left: 35%;
    top: 0;
    transition: all 0.5s ease-out;
    margin-bottom: 20px;
}

.CloseALertButton {
    float: right;
}