.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

.CloseButton {
    float: right;
}

.TitleWrapper {
    position: relative;
    z-index: -1;
}

.Title {
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}

.Line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}